.registrationField {
    display: inline-block;
    margin-top:5px;
    margin-bottom:10px;
    padding:50px;
    font-family: 'Ubuntu', sans-serif;
}

h3{
    font-family:'Ubuntu',sans-serif;
    font-size: 15px;
    color: dimgray;
}

input[type="text"]{
    width:39%;
    border:1px solid #2BC1F2
}

button{
    width:20%;
    background-color:white;
    border:1px solid dimgray;
    color:dimgray;
    font-weight:100;
    cursor:pointer;
}

#tableDiv {
    margin-top:30px;
}

table.usersTable {
    width: 100%;
    background-color: white;
    border:1px solid dimgray;
    font-family:'Ubuntu',sans-serif;
    font-size: 12px;
    font-color: dimgray;
    text-align: center;
}

thead {
    background-color: rgba(43, 193, 242, 0.63);
    border: 1px solid dimgray;
}

td {
    border: 1px solid dimgray;
}