<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Mini-user-app</title>
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body>
        <div id="registrationField">
            <div class="container">
                <h3>Add new user here: </h3>
                <input id="userName" type="text" placeholder="User name" required="true"/>
                <input id="email" type="text" placeholder="Email" required="true"/>
                <button type="submit">Add to database</button>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>